build/
coverage/
.cache/
bin/
obj/
.ionide/
*.qlf
.venv/
__pycache__/
gmon.out
massif.out.*
valgrind*.txt
gprof*.txt
**/benchmark/tests*.txt
**/report/*.pdf
**/report/*.aux
**/report/*.log
**/report/*.out
**/report/*.toc
**/report/*.fls
**/report/*.fdb_latexmk
**/report/*.synctex.gz
